[submodule "webgpu-samples"]
	path = webgpu-samples
	url = https://github.com/webgpu/webgpu-samples.git
[submodule "unity_web_research"]
	path = unity_web_research
	url = https://github.com/wgsl-tooling-wg/unity_web_research.git
[submodule "alpenglow-example-wgsl"]
	path = alpenglow-example-wgsl
	url = https://github.com/jonathanolson/alpenglow-example-wgsl.git
[submodule "lygia"]
	path = lygia
	url = https://github.com/patriciogonzalezvivo/lygia
